# 技术栈
- Python
- Langchain
- Langgraph
- pydantic
- FastAPI
- MongoEngine

# 项目结构
- api   : 提供API服务
- agent : 实现 AI agent 功能
- utils : 通用的工具类
- tests : 单元测试目录
- notebook : Juypter Notebook 目录

# API目录结构
api - API root
api/doc - API swagger documents
api/middleware - middleware e.g. logging request/response
api/router - API endpoint impelementation
api/service - API business logic
api/model/api - API request/response model
api/model/db - Database model
api/repositories - API mongo db repository
api/conf - API configuration files
api/utils - API utilities
api/logs - API log files

# Unit Test 目录结构
tests/api - API unit test
tests/repositories - Repository unit test

# 代码要求
- 注重代码质量
- 遵循DRY原则 - Don't Repeat Yourself
- 遵循面向对象原则
- 遵循SOLID原则
- 遵循Python语言最佳实践
- 良好的注释
- 编写代码的时候，同时编写单元测试
- 良好的日志打印